.footer {
    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $main-color;
        height: 100px;
        padding: 20px;
    }
    &__logo {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__dscr {
        color: white;
        a {
            color: white;
        }
    }
}