.header {
    .nav {
        background: lightgray;
        &__list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
        }
        &__item {
            list-style-type: none;
        }
        &__link {
            text-decoration: none;
            color: #829985;
            padding: 0 20px;
            line-height: 50px;
            &:hover {
                transition: all 1.6s;
                color: lightcoral;
                text-decoration: dotted underline lightcoral 1px;
            }
        }
    }
    .profile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 200px;
        grid-auto-rows: 250px;
        grid-auto-flow: dense;
        column-gap: 20px;
        align-items: center;
        &__name {
            margin: 20px;
            .section__title {
                font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
                letter-spacing: 5px;
            }
            .divider {
                margin-top: 20px;
                max-width: 200px;
                border: solid 1px #829985;
            }
        }
        &__dscr {
            font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
            color: #829985;
            padding-top: 20px;
            text-transform: uppercase;
        }
        &_photo {
            justify-self: center;
            height: 100%;
            img {
                border-radius: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }
    }
}