.header {
    background: lightgray;
    .nav {
        &__list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        &__item {
            list-style-type: none;
        }
        &__link {
            text-decoration: none;
            color: #829985;
            padding: 0 20px;
            line-height: 50px;
            &:hover {
                transition: all 1.6s;
                color: lightcoral;
                text-decoration: dotted underline lightcoral 1px;
            }
        }
    }
}